asgiref
certifi
cloudinary
distlib
Django
django-cors-headers
django-jazzmin
djangorestframework
djangorestframework-simplejwt
filelock
gunicorn
packaging
Pillow
pipenv
platformdirs
PyJWT
python-dotenv
pytz
six
sqlparse
tzdata
urllib3
virtualenv
whitenoise
