@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full h-12 bg-transparent border rounded-lg border-blue-500 outline-none focus:border-purpleP text-sm text-gray-600 px-5;
/*     border-image: linear-gradient(45deg, #bb23e3, rgba(0,0,244, 0.8));
    border-image-width: 2px;
    border-image-slice: 1; */
  }
  
  .label {
    @apply text-sm text-gray-400;
  }
  
  .btn {
    @apply w-32 h-14 px-2 py-4 text-sm text-center bg-[rgba(213,213,213,0.2)] rounded-lg text-gray-500 outline-none;
  }
  
  .active {
    @apply bg-blue-600 text-white;
  }
  
  .error-message {
    background: #FF546370;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    font-family: Monospace;
    color: #FF4757;
    border: 1px solid #FF4354;
    transition: all 2s linear;
    margin-bottom: 5px;
}
.error-message:empty {
  display: none;
  padding: 0px;
  height: 0px !important;
  overflow: hidden;
}
.error-message:not(:empty) {
  display: inline-block;
}
}